.container {
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 12px;
    background-color: #352F44;
    padding: 5%;
    width: 500px;
    min-height: 300px;
    max-height: 500px;
    gap: 15px;
}

.list {
    list-style: none;
    max-height: 350px;
    min-width: 350px;
    overflow-y: scroll;

}
.list::-webkit-scrollbar {
    display: none;
}

.inputDiv {
    display: flex;
    align-items: center;
    gap: 8px;
}

.inputField {
    width: 80%;
    height: 35px;
    border-radius: 12px;
    padding: 8px;
    font-size: 16px;
}

.button {
    background-color: #FAF0E6;
    padding: 5px;
    font-size: 12px;
    border-radius: 12px;
    color: #352F44;
    width: 20%;
    height: 35px;
}
.button:hover {
    background-color: #352F44;
    color: #FAF0E6;
}
.button:active {
    background-color: #B9B4C7;
    color: #5C5470;
}
